
assert.h=
complex.h=scala.scalanative.native.complex
ctype.h=scala.scalanative.native.ctype
errno.h=scala.scalanative.native.errno
fenv.h=
float.h=
inttypes.h=
iso646.h=
limits.h=
locale.h=
math.h=scala.scalanative.native.math
setjmp.h=
signal.h=scala.scalanative.native.signal
stdalign.h=
stdarg.h=
stdatomic.h=
stdbool.h=
stddef.h=
stdint.h=
stdio.h=scala.scalanative.native.stdio
stdlib.h=scala.scalanative.native.stdlib
stdnoreturn.h=
string.h=scala.scalanative.native.string
tgmath.h=
threads.h=
time.h=
uchar.h=
wchar.h=
wctype.h=


aio.h=
inet.h=scala.scalanative.posix.arpa.inet
assert.h=
complex.h=scala.scalanative.native.complex
cpio.h=scala.scalanative.posix.cpio
ctype.h=
dirent.h=scala.scalanative.posix.dirent
dlfcn.h=
errno.h=scala.scalanative.posix.errno
fcntl.h=scala.scalanative.posix.fcntl
fenv.h=
float.h=
fmtmsg.h=
fnmatch.h=
ftw.h=
glob.h=
grp.h=scala.scalanative.posix.grp
iconv.h=
inttypes.h=scala.scalanative.posix.inttypes
iso646.h=
langinfo.h=
libgen.h=
limits.h=scala.scalanative.posix.limits
locale.h=
math.h=
monetary.h=
mqueue.h=
ndbm.h=
if.h=
netdb.h=
in.h=scala.scalanative.posix.netinet.in
tcp.h=
nl_types.h=
poll.h=
pthread.h=
pwd.h=scala.scalanative.posix.pwd
regex.h=scala.scalanative.posix.regex
sched.h=
search.h=
semaphore.h=
setjmp.h=
signal.h=
spawn.h=
stdarg.h=
stdbool.h=
stddef.h=
stdint.h=
stdio.h=
stdlib.h=scala.scalanative.posix.stdlib
string.h=
strings.h=
stropts.h=
ipc.h=
mman.h=
msg.h=
resource.h=
select.h=
sem.h=
shm.h=
socket.h=scala.scalanative.posix.sys.socket
stat.h=scala.scalanative.posix.sys.stat
statvfs.h=
time.h=scala.scalanative.posix.sys.time
times.h=
types.h=
uio.h=scala.scalanative.posix.sys.uio
un.h=
utsname.h=
wait.h=
syslog.h=scala.scalanative.posix.syslog
tar.h=
termios.h=scala.scalanative.posix.termios
tgmath.h=
time.h=
trace.h=
ulimit.h=
unistd.h=scala.scalanative.posix.unistd
utime.h=scala.scalanative.posix.utime
utmpx.h=
wchar.h=
wctype.h=
wordexp.h=

siginfo.h=
sigset.h=
sigaction.h=
sigcontext.h=
sigthread.h=
ucontext.h=
pthreadtypes.h=
libio.h=
__stddef_max_align_t.h=
_G_config.h=
sys_errlist.h"=
sysmacros.h=
xlocale.h=
socket_type.h=
sockaddr.h=
sigstack.h=
sys_errlist.h=